img#a {
    border: 1px solid grey;
    margin-top: 12px;
}
div#b {
    border: 1px solid grey;
}
button#c {
    background-color: blue; 
    padding: 10px;
    
}
#phones {
    list-style-type: none;
    
}
#home,#mobile,#set,#model {
    float: left;
}

